<?php
$dumpDirectory = "";
$backupKey = "";
$dbHost = "localhost";
$dbName = "";
$dbUser = "";
$dbPassword = "";

$mailHost = "";
$mailFrom = "";
$mailFromPassword = "";
$mailFromName = "";
$mailTo = "";
$mailToName = "";
$mailSubject = "";
$mailBody = "";